<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="AllureSuite">
    <listeners>
        <listener class-name="io.qameta.allure.testng.AllureTestNG" />
    </listeners>
    <test name="RunAllTests">
        <classes>
            <class name="path.to.your.tests.AqaShopTest"/>
        </classes>
    </test>
</suite>
